.Canvas {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
}

.GElem {
  cursor: pointer;
}

.ClearIcon {
  cursor: pointer;
}

.OperationPanel {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.OperationElem {
  cursor: pointer;
  margin: 0 15px;
}

.ClearMoving{
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}